{% extends '@!EasyAdmin/layout.html.twig' %}

{# Let\'s remove/empty the header #}

{% block content_header_wrapper %} {% endblock content_header_wrapper %}

{# The main page content block #}
{% block main %}
<article class="content">
    <div class="example-wrapper">
        <article class="content">
            <section class="content-header">
                <div class="content-header-title">

                    <h1 class="title">Users</h1>

                </div>
                <div class="page-actions">
                    <div class="global-actions">
                        <a class=" action-new btn btn-primary" href="#">Add User</a>
                    </div>
                </div>
            </section>
            <section id="main" class="content-body">
                <table class="table datagrid">
                    <thead>
                        <tr>
                            <th class="field-virtual header-for-field-text text-left" dir="ltr"><span>Id</span></th>
                            <th class="field-virtual header-for-field-text text-left" dir="ltr"><span>Username (Email)</span></th>
                            <th class="field-virtual header-for-field-text text-left" dir="ltr"><span></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class=" text-left field-text">{{ user.id }}</td>    
                            <td class=" text-left field-text">{{ user.email }}</td>   
                            <td class="action action-as-dropdown">
                            <div class="dropdown dropdown-actions">
                                <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup"true" aria-expended="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="21" width="21" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item action-edit" href="{{ path('app_registration') }}" data-action-name="edit" >Edit</a>

                                    <a class="dropdown-item action-delete text-danger" href="#"
                                    data-action-name="delete" formaction="" data-bs-toggle="modal" data-bs-target="modal-delete" >Delete</a>

                                </div>
                            </div>
                            </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </article>
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content_footer_wrapper %} {% endblock content_footer_wrapper %}